
/*for desktop*/
@media only screen and (min-width:1200px) {

.box-1{
    margin-top: 50px;
    text-align: center;
    line-height: 10px;
    font-size: 18px;
}

.box-2{
    margin: 30px;
    font-size:20px;
}

.container{
    padding-left: 80px;
}
.box-3{
    padding-left:100px;
    font-size: 20px;
    line-height: 2px;
}
.box-4{
    padding-left: 100px;
    font-size: 20px;
    line-height: 25px;
}
.box-5{
    padding-left: 100px;
    font-size: 20px
}
.box-6{
    padding-left: 100px;
    font-size: 20px
} 
}

/*for mobile devices*/
@media only screen and (min-width: 375px) {

.box-1 {
    line-height: 20px;
    font-size: 15px;
}
.box-1 p{
    line-height: 5px;
}
.box-2 {
    font-size: 18px;
    text-align: justify;
}
.container{
    text-align: center;
    padding-left: 0px;
}
.box-3 {
    margin: 20px;
    padding-left: 0px;
    text-align: justify;
    font-size: 18px;
}
.box-3 h4{
    line-height:initial;
}
.box-4, .box-5, .box-6{
padding-left: 0px;
font-size: 18px;
text-align: justify;
margin-right: 15px;   
}
}


/*for tablet devices*/
@media only screen and (min-width:768px){
    .box-1, .box-2, .box-3,.box-4, .box-5,.box-6 {
        font-size: 30px;
    } 
    .container{
        font-size: 35px;
    }
    .box-4, .box-5, .box-6{
        margin-right: 20px;
    }
    .box-3 {
        margin: 30px;
    }
}